{% extends 'base.html' %}

{% block 'title' %} Checkout {% endblock %}

{% block 'content' %}
{% load static %}


<div class="container bg-light">

    <h2 align="center" style="padding-top:30px;">Contact Us</h2>
<p style="padding-top:50px;">Thank you for your interest in J-bakery. We value your feedback, inquiries, and suggestions. Please find below the various ways you can get in touch with us:</p>
<br>
<h5>Phone</h5>

    <p>
General Inquiries: 9890873444<br>
Customer Support: 8766783773<br>
Business Hours: Monday-Friday, 9:00 AM - 5:00 PM (Local Time)<br>
Email Inquiries:<a href="https://instagram.com/i_m_akram_?igshid=MzNlNGNkZWQ4Mg== "> akram10shaikh@gmail.com</a>
</p>
<br>
<h5>Physical Address</h5>
<p>
    J-Bakery<br>
Galaxy Point, Hingoli Gate, Purna<br>
Parbhani,Maharashtra,India<br>
</p>

<br>
<h5>
Response Time</h5>
<p>We strive to respond to inquiries within 24-48 hours. Please note that response times may vary based on the volume of inquiries.</p>
<br>
    <h5>
Privacy Policy</h5>
<p>For information on how we handle your data, please review our [Privacy Policy].</p>
<br>
    <h5>
Accessibility</h5>
<p style="padding-bottom:50px;">We are committed to providing an accessible and inclusive experience for all users. </p>
</div>

{% endblock %}